@import "./../../general.scss";
@import "./../../index.scss";
.signup-container {
  @include horizontalFlex($gap-size: 2vh, $justify: center, $width: auto);
  padding: 5vh;
  background-color: var(--yellow-color);
}

.join-adidas-text {
  font-size: 2.8vh;
  color: var(--black-color);
  font-weight: 600;
}

.btn-sign-up {
  color: var(--white-color);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--black-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
  outline: none;
  padding: 1vh 2.5vh;
}

.top-header {
  display: none;
}

@media (max-width: 960px) {
  .signup-container {
    flex-direction: column;
  }

  .top-header {
    @include horizontalFlex($justify: normal, $gap-size: 0vh, $width: auto);
    background-color: var(--black-color);
    padding: 2vh;
  }

  .headname-yourbag {
    text-align: center;
    width: 50%;
    color: var(--white-color);
    font-weight: 700;
  }

  .headname-login {
    text-align: center;
    width: 50%;
    color: var(--white-color);
    font-weight: 700;
  }
}
