@import "./../../general.scss";
@import "./../../index.scss";
.navbar-container {
  width: 100%;
  border: 0.2px solid var(--black-color);
  position: sticky;
  top: 0;
}

.adidas_logo_desktop {
  width: 3%;
  height: 3%;
}
.navbar-signup-container {
  border: 1px solid var(--border-color);
}

.navbar-signup-container {
  display: flex;
  justify-content: center;
  background-color: var(--black-color);
  padding: 1vh;
}

.category-item-festive {
  color: var(--red-color);
  position: relative;
  cursor: pointer;
}

.navbar-inside-container {
  @include verticalFlex(
    $width: auto,
    $align: normal,
    $justify: normal,
    $gap-size: 0vh
  );
  padding: 0.5vh;
  // display: flex;
  background-color: var(--white-color);
  // flex-direction: column;
}

.navbar-container-lists {
  @include horizontalFlex($width: auto, $gap-size: 0vh);
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: space-between;
}

.list-items {
  @include horizontalFlex(
    $gap-size: 2vh,
    $align: normal,
    $justify: normal,
    $width: auto
  );
  // display: flex;
  font-size: 14px;
  // flex-direction: row;
  // gap: 2vh;
}

.signup-text {
  font-size: 11px;
  color: var(--white-color);
}

.navbar-right-lists {
  @include horizontalFlex(
    $justify: end,
    $align: normal,
    $gap-size: 2vh,
    $width: auto
  );
  // display: flex;
  // justify-content: end;
  font-size: 12px;
  // flex-direction: row;
  // gap: 2vh;
}

.search-bar-container {
  @include horizontalFlex($align: normal, $justify: normal, $width: auto);
  // display: flex;
  // flex-direction: row;
  // gap: 1vh;
}

.category-item {
  position: relative;
  cursor: pointer;
  font-weight: normal;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--black-color);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--black-color);
    transition: width 0.3s ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }
}

.search-bar-container {
  display: flex;
  gap: 20px;
}

input[type="text"] {
  padding: 5px;
  width: 100%;
  border: 1px solid var(--border-color);
  background-color: var(--border-color);
  border-radius: 3px;
}

.dropdown {
  position: absolute;

  left: 0;
  height: 60vh;
  border: 1px solid var(--black-color);
  width: 100vw;
  background-color: var(--white-color);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-color);
  transition: all 0.3s ease-in-out;
}

.dropdown-content {
  @include verticalFlex($justify: center, $gap-size: 0vh);
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // width: 100%;
  height: 100%;
}

.dropdown-content h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.dropdown-content p {
  font-size: 1.2rem;
}

.dropdown-content img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1280px) {
  .category-item-festive {
    display: none;
  }
}

@media (max-width: 960px) {
  .navbar-mobile-view-lists,
  .navbar-right-lists {
    display: none;
  }

  .input-type-search-box {
    display: none;
  }

  .navbar-container {
    border: none;
  }

  .sale-content-container {
    padding-left: 0vh;
  }

  .adidas_logo_desktop {
    width: 5%;
    height: 5%;
  }
}
