@import "./../../index.scss";

.sale-container {
  font-family: "Helvetica", "Arial", sans-serif;
  padding: 20px;
}

.breadcrumb {
  display: flex;
  font-size: 14px;
  gap: 10px;
  margin-bottom: 20px;
}

.breadcrumb .back-link {
  font-weight: bold;
  text-decoration: none;
  color: var(--black-color);
}

.breadcrumb-text {
  color: #555;
}

.title-section {
  margin-bottom: 30px;
}

.title-section h1 {
  font-size: 28px;
  font-weight: bold;
}

.title-section .item-count {
  font-size: 14px;
  color: #888;
}

.main-cards {
  display: flex;
  gap: 1vh;
  flex-wrap: wrap;
}

.card {
  background-color: var(--white-color);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  width: 160px;
  text-align: center;
}
.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: auto;
}

.card .category-title {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  text-align: start;
  padding: 1.5vh;
  font-weight: bold;
  text-decoration: underline;
  color: var(--black-color);
}

.sale-card {
  background-color: var(--orange-color);
  color: var(--white-color);
  padding: 20px;
  text-align: center;
  flex: 1;
  max-width: 150px;
}

.sale-card .sale-banner {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blue-container {
  background-color: var(--sky-color);
  padding: 9vh;
  z-index: -1;
  margin-top: -10vh;
}

.salesection-heading {
  font-size: 40px !important;
}

.sale-content-container {
  padding-left: 10vh;
}

@media (max-width: 960px) {
  .sale-content-container {
    padding-left: 0vh;
  }

  .main-cards {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .card {
    flex: 0 0 auto;
    min-width: 70%;
    max-width: none;
    scroll-snap-align: start;
  }

  .main-cards::-webkit-scrollbar {
    display: none;
  }

  .main-cards {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
