.categories-grid {
  padding-left: 10vh;
  padding-right: 10vh;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.our-clothing-heading {
  font-size: 24px;
}

.adidas-cloth-sale-heading {
  font-size: 20px;
}

.category-section-products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category-products-list {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
}

.products-list-items {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  padding: 0vh;
}

.category-paragraph {
  line-height: 3vh;
  font-size: 16px;
  margin-top: 0vh;
}

@media (max-width: 960px) {
  .categories-grid {
    padding-left: 2vh;
    padding-right: 2vh;
  }

  .mobile-view-list {
    display: none !important;
  }
}
