@import "./../../general.scss";
@import "./../../index.scss";
.footerpart-desktop {
  @include horizontalFlex(
    $align: normal,
    $justify: center,
    $width: auto,
    $gap-size: 0vh
  );
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-left: 10vh;
  padding-right: 10vh;
}

.footer-part-heading-part {
  font-weight: 800;
  font-size: 2vh;
}

.footerpart-list {
  @include verticalFlex($width: auto, $justify: normal, $gap-size: 0vh);
}

.footerpart-list-items {
  @include verticalFlex($width: auto, $align: normal, $justify: normal);
}

.mobile-view-footer-part {
  display: none;
}

.footer-part-mobile-view-list {
  @include verticalFlex($gap-size: 4vh, $justify: normal, $width: auto);

  white-space: nowrap;
  font-size: 12px;
}
.insta-logo {
  font-size: 4vh;
}

@media (max-width: 960px) {
  .footerpart-desktop {
    display: none !important;
  }

  .mobile-view-footer-part {
    @include horizontalFlex($align: normal, $width: auto, $gap-size: 0vh);
    background-color: var(--black-color);
    padding: 2vh;
  }

  .mobile-view-first-section {
    @include verticalFlex($align: normal, $justify: normal, $width: auto);
    color: var(--white-color);
  }

  .mobile-view-second-section {
    @include verticalFlex($align: normal, $justify: normal, $width: auto);
    color: var(--white-color);
  }
}

@media only screen and (min-width: 0px) and (max-width: 320px) {
  .mobile-view-second-section {
    overflow: auto;
  }
}
