
:root {
    --yellow-color: #ede734;
    --input-color:#f4f2ee;
    --light-back-grey: #E3DED5;
    --black-color: #000;
    --orange-color: #ffa500;
    --white-color: #ffffff;
   --dark-back-grey: #f8f7f5;
   --border-color:#eceff1;
   --red-color:#e32b2b;
   --sky-color:#2596be;

  }